# Request

In [ ]:
import requests

# Fetch the Hackernews post
resp = requests.get("https://hacker-news.firebaseio.com/v0/item/16222426.json")

# Print the response parsed as JSON
print(resp.json())

# Assign the score of the test to post_score
post_score = resp.json()['score']
print(post_score)

# Ectract
คือการรวมไฟล์

In [ ]:
# Function to extract table to a pandas DataFrame
def extract_table_to_pandas(tablename, db_engine):
    query = "SELECT * FROM {}".format(tablename)
    return pd.read_sql(query, db_engine)

# Connect to the database using the connection URI
#postgresql://[user[:password]@][host][:port][/database]

connection_uri = "postgresql://repl:password@localhost:5432/pagila" 

db_engine = sqlalchemy.create_engine(connection_uri)

# Extract the film table into a pandas DataFrame
extract_table_to_pandas('film', db_engine)

# Extract the customer table into a pandas DataFrame
extract_table_to_pandas('customer', db_engine)

โค้ดด้านบนคือประมาณว่าจะอ่านข้อมูลไปสร้างตารางที่มีความสัมพันธ์ตามแบบ pandas 
ประมาณว่าข้อมูลที่ได้มามันยังมีรูปแบบที่ต่างกันอยู่ พอเราจะรวมไฟล์เราก็ต้องทำให้มันเหมือนกัน 

ใช้ sqlalchemy เพื่อเชื่อมต่อฐานข้อมูล ให้ไปสั่งในรูปแบบ oop ได้

ใช้ read_sql ตัวนี้เพื่ออ่าน/ จัดการฐานข้อมูลด้วย sql 

ที่เราอ่านเจอมาคือมันจะมี read_sql_table(table_name, db_name) กับ read_sql_query(sql_code, db_name) 

if we use read_sql instead, we dont have to identify _table or read_sql_query.

# Split

In [ ]:
## Splitting the rental rate

# Get the rental rate column as a string
rental_rate_str = film_df.rental_rate.astype(str)

# Split up and expand the column
rental_rate_expanded = rental_rate_str.str.split('.', expand=True)

# Assign the columns to film_df
film_df = film_df.assign(
    rental_rate_dollar=rental_rate_expanded[0],
    rental_rate_cents=rental_rate_expanded[1],
)

# Join

In [ ]:
# Use groupBy and mean to aggregate the column
ratings_per_film_df = rating_df.groupBy('film_id').mean('rating')

# Join the tables using the film_id column
film_df_with_ratings = film_df.join(
    ratings_per_film_df,
    film_df.film_id==ratings_per_film_df.film_id
)

# Show the 5 first results
print(film_df_with_ratings.show(5))

In [ ]:
# Write the pandas DataFrame to parquet
film_pdf.to_parquet("films_pdf.parquet")

# Write the PySpark DataFrame to parquet
film_sdf.write.parquet("films_sdf.parquet")

parquet = data storage ชนิดหนึ่งของ hadoop มันจะแปลงข้อมูลให้อยู่ในรูปแบบ column ง่ายต่อการค้นหา

In [ ]:
#load

# Finish the connection URI
connection_uri = "postgresql://repl:password@localhost:5432/dwh"
db_engine_dwh = sqlalchemy.create_engine(connection_uri)

# Transformation step, join with recommendations data
#join ต่อกันแบบ 
myTuple = ("John", "Peter", "Vicky")
x = "#".join(myTuple)
print(x)
film_pdf_joined = film_pdf.join(recommendations)

# Finish the .to_sql() call to write to store.film
#to_sql ใช้บันทึกค่าจาก dataframe ไป sql database
film_pdf_joined.to_sql("film", db_engine_dwh, schema="store", if_exists="replace")

# Run the query to fetch the data
pd.read_sql("SELECT film_id, recommended_film_ids FROM store.film", db_engine_dwh)

In [ ]:
def extract_table_to_df(tablename, db_engine):
    return pd.read_sql("SELECT * FROM {}".format(tablename), db_engine)
def split_columns_transform(df, column, pat, suffixes):
    # Converts column into str and splits it on pat...
def load_df_into_dwh(film_df, tablename, schema, db_engine):
    return pd.to_sql(tablename, db_engine, schema=schema, if_exists="replace")

# Define the ETL function
def etl():
    film_df = extract_film_to_pandas()
    film_df = transform_rental_rate(film_df)
    load_dataframe_to_film(film_df)

# Define the ETL task using PythonOperator
etl_task = PythonOperator(task_id='etl_film',
                          python_callable=etl,
                          dag=dag)

# Set the upstream to wait_for_table and sample run etl()
etl_task.set_upstream(wait_for_table)
etl()

In [ ]:
test